*{ /* Selector universal; de preferencia que esté en la parte superior del código*/
    box-sizing: border-box; /*trabaja con el main, header, img, nav, a, section, div...etc*/
    font-family: "Playfair Display", serif;
}
main{
    width: 1366px; /*ancho*/
    height: 2000px; /*largo*/
    background-color: #000000;
    margin: 0 auto;
}
header{
    width: 1366px;
    height: 200px;
    background-color: #ac7e5c;
    text-align: center;
}
header img{
    height: 100%;
}
nav{
    width: 1366px;
    height: 50px;
    background-color: #27301f;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    
}
nav a{
    color: whitesmoke;
    text-decoration: none;
    padding: 9px;
    font-family: "Baskervville SC", serif;
    font-size: 24px;
    transition: .8s;
    /*line-height: 50px;*/
}
nav a:hover{
    background-color: #36422c;
    transform: scale(1.2);
}
section{
    width: 1366px;
    height: 1500px;
    /*background-color: #f3e9ce;*/
    background-image: url(../img/14bc1f404402365154af030b3f601abdebe74000.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.personaje{
    width: 1300px;
    height: 350px;
    /*background-color: rgb(114, 24, 24);*/
    margin-left: 33px;
    margin-top: 20px;
    float: left;
}
.foto{
    width: 400px;
    height: 350px;
    /*background-color: rgb(3, 43, 78);*/
    float: left;
    margin-left: 33px;
    text-align: center;
    border-bottom: #917848 solid 4px;
}
.foto img{
    height: 100%;
}
.texto{
    width: 800px;
    height: 350px;
    background-color: #6c6352a1;

    float: left;
    margin-left: 33px;
    padding: 20px;
    border-bottom: #917848 solid 4px;

}
.texto a{
    color: #722f31;
    text-decoration: none;
    font-family: "Baskervville SC", serif;
    font-size: large;
}
.texto a:hover{
    color: #3c1714;
    text-decoration: underline;
}
footer{
    width: 1366px;
    height: 250px;
    background-color: #1c1f16;
}
